
body {
  font-family: Inter, system-ui, Arial, sans-serif;
  margin: 0;
  background: #f5f7fb;
  color: #111;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  height: 100vh;
  padding-top: 20px;
}

.card {
  background: #fff;
  padding: 28px;
  border-radius: 14px;
  box-shadow: 0 6px 18px rgba(20, 30, 40, 0.08);

  width: 100%;
  max-width: 520px;
  position: relative;
}

h2 {
  margin: 0 0 10px;
}

label {
  font-size: 13px;
  color: #777;
  margin-bottom: 6px;
}

/* Small text */
.small-muted {
  font-size: 13px;
  color: #666;
  margin-top: 8px;
}

.small-muted.error {
  color: #c53030;
}

.small-muted.success {
  color: #2d7a2d;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-top: 14px;
}

input,
select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #e1e4ea;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.full-width-field {
  grid-column: span 2;
}

.phone-field {
  display: flex;
  align-items: center;
  gap: 6px;
}

.phone-field select {
  width: 110px;
}

.phone-field input {
  flex: 1;
}

.btn {
  margin-top: 18px;
  width: 100%;
  padding: 12px;

  background: #0b76ff;
  color: #fff;

  border: 0;
  border-radius: 10px;

  cursor: pointer;
  font-weight: 600;
}

.link-btn {
  margin-top: 12px;
  width: 100%;
  padding: 12px;

  background: transparent;
  color: #0b76ff;

  border: 0;
  cursor: pointer;

  font-size: 14px;
  text-align: center;
}

.back-arrow {
  align-self: flex-start;
  margin-left: 20px;
  margin-bottom: 10px;

  font-size: 20px;
  color: #0b76ff;
  text-decoration: none;

  cursor: pointer;
}

.hidden {
  display: none;
}
